body {
    background-color: pink;
    color: maroon;
}

.container {
    max-width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

img {
    max-width: 100%;
}

nav>ul {
    display: flex;
    gap: 1rem;
    list-style: ;
    none
}